/*
@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background: #202020;
    color: white;
    margin: 20px;
}

.buttonApp{
    background: #208080;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}